In [18]:
from torch.utils.data import Dataset, DataLoader
import torch
class MyDataset(Dataset):
    def __init__(self):
        self.X = [0, 10, 20, 30, 40, 50, 60, 70]
        self.y = [0, 1, 2, 3, 4, 5, 6, 7]
        self.num_data = 8

    def __len__(self):
        return self.num_data

    def __getitem__(self, i):
        x = self.X[i]
        y = self.y[i]
        return x, y
dataset = MyDataset()
loader1 = DataLoader(dataset, batch_size=2, shuffle=True)
loader2 = DataLoader(dataset, batch_size=2, shuffle=True)

In [13]:
torch.manual_seed(0)

In [21]:
torch.manual_seed(0)
for i in loader1:
    print(i)
torch.manual_seed(0)
for i in loader2:
    print(i)

[tensor([30,  0]), tensor([3, 0])]
[tensor([10, 60]), tensor([1, 6])]
[tensor([50, 40]), tensor([5, 4])]
[tensor([70, 20]), tensor([7, 2])]
[tensor([30,  0]), tensor([3, 0])]
[tensor([10, 60]), tensor([1, 6])]
[tensor([50, 40]), tensor([5, 4])]
[tensor([70, 20]), tensor([7, 2])]

In [12]:
import json
from nltk.tokenize import word_tokenize
import gensim

with open('data/squad1.1/train-v1.1.json', encoding='utf-8') as f:
    data_dict = json.load(f)
# w2v_model = gensim.models.KeyedVectors.load_word2vec_format(
#     './data/GoogleNews-vectors-negative300.bin', binary=True
# )
w2v_model = gensim.models.KeyedVectors.load_word2vec_format(
    './data/GoogleNews-vectors-negative300-hard-debiased.bin', binary=True
)

In [23]:
def isSign(word):
    return len(word) == 1 and not word in w2v_model.key_to_index

In [24]:
num_context = 0
num_question = 0
max_words_context = 0
max_words_question = 0
set1 = set()
set2 = set()
for title in data_dict['data']:
    for paragraph in title['paragraphs']:
        num_context += 1
        context = word_tokenize(paragraph['context'].lower())
        for word in context:
            if isSign(word):
                set1.add(word)
        for qa in paragraph['qas']:
            num_question += 1
            question = word_tokenize(qa['question'].lower())
            for word in question:
                if isSign(word):
                    set2.add(word)

In [25]:
print(len(set1), len(set2))

172 23

In [6]:
set1

{'!',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 ']',
 '_',
 '`',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 '{',
 '}',
 '~',
 '¢',
 '£',
 '§',
 '±',
 '·',
 '¼',
 '½',
 '×',
 'à',
 'ä',
 'æ',
 'é',
 'í',
 'ð',
 'ó',
 'õ',
 'ö',
 '÷',
 'ü',
 'ć',
 'č',
 'ď',
 'ě',
 'ļ',
 'ń',
 'ň',
 'ř',
 'š',
 'ť',
 'ž',
 'ơ',
 'ǵ',
 'ɔ',
 'ə',
 'ɛ',
 'ɣ',
 'ɦ',
 'ɪ',
 'ɸ',
 'ɹ',
 'ɾ',
 'ʔ',
 'ʼ',
 'ˇ',
 'α',
 'β',
 'γ',
 'ε',
 'η',
 'λ',
 'ν',
 'ο',
 'ω',
 'а',
 'в',
 'ъ',
 'ы',
 'ו',
 'נ',
 'ץ',
 'ة',
 'ด',
 'ส',
 'เ',
 'แ',
 'โ',
 'ใ',
 'ไ',
 'ḗ',
 '\u200b',
 '\u200e',
 '–',
 '—',
 '‘',
 '’',
 '“',
 '”',
 '•',
 '…',
 '›',
 '₥',
 '€',
 '₹',
 'ℛ',
 '⅓',
 '→',
 '∅',
 '∈',
 '−',
 '∖',
 '∗',
 '∝',
 '≈',
 '≡',
 '♆',
 '❤',
 '〜',
 '㓾',
 '下',
 '中',
 '义',
 '书',
 '云',
 '京',
 '人',
 '他',
 '來',
 '侍',
 '像',
 '匠',
 '区',
 '十',
 '千',
 '卅',
 '卌',
 '厘',
 '叠',
 '呣',
 '呷',
 '咊',
 '和',
 '唔',
 '囍',
 '圕',
 '大',
 '她',
 '婎',
 '媠',
 '宁',
 '它',
 '寧',
 '小',
 '府',
 '廿',
 '折',
 '日',
 '明',
 '月',
 '木',
 '来',
 '松',
 '毋',
 '比',
 '水',
 '氵',
 '江',
 '沖',
 '河',
 '流',
 '清',
 '湖',
 '滑',
 '父',
 '牠',
 '王',
 '瑚',
 '瓩',
 '社',
 '祂',
 '祐',
 '神',
 '禅',
 '竜',
 '章',
 '竹',
 '籲',
 '米',
 '粁',
 '糎',
 '紅',
 '綠',
 '緑',
 '红',
 '美',
 '肉',
 '胡',
 '興',
 '藍',
 '藏',
 '蜀',
 '蝴',
 '西',
 '覆',
 '豔',
 '釁',
 '金',
 '门',
 '陽',
 '雨',
 '雲',
 '青',
 '韓',
 '食',
 '高',
 '鬱',
 '魂',
 '魄',
 '魏',
 '鮮',
 '鱻',
 '齉',
 '龍',
 '龘',
 '龢',
 'ꀕ',
 '대',
 '물',
 '부',
 '소',
 '수',
 '인',
 '큰',
 '하',
 '한',
 'ﬂ',
 '︘',
 '～',
 '�',
 '𒂵',
 '𒄑',
 '𒆳',
 '𒈪',
 '𒊒',
 '𒊕',
 '𒌦',
 '𪜶'}

In [7]:
set1_ = set()
for word in set1:
    if not word in w2v_model.key_to_index:
        set1_.add(word)

In [9]:
print(len(set1_))

172

In [11]:
set1_

{'!',
 "'",
 '(',
 ')',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '?',
 '[',
 ']',
 'a',
 '{',
 '}',
 'ć',
 'ď',
 'ě',
 'ļ',
 'ń',
 'ň',
 'ř',
 'ť',
 'ơ',
 'ǵ',
 'ɔ',
 'ə',
 'ɛ',
 'ɣ',
 'ɦ',
 'ɪ',
 'ɸ',
 'ɹ',
 'ɾ',
 'ʔ',
 'ʼ',
 'ˇ',
 'ъ',
 'ы',
 'ו',
 'נ',
 'ץ',
 'ด',
 'ส',
 'เ',
 'แ',
 'โ',
 'ใ',
 'ไ',
 'ḗ',
 '\u200b',
 '\u200e',
 '–',
 '—',
 '‘',
 '’',
 '“',
 '”',
 '…',
 '›',
 '₥',
 '₹',
 'ℛ',
 '∅',
 '∈',
 '−',
 '∖',
 '∗',
 '∝',
 '≡',
 '♆',
 '❤',
 '〜',
 '㓾',
 '云',
 '京',
 '來',
 '侍',
 '像',
 '匠',
 '十',
 '千',
 '卅',
 '卌',
 '厘',
 '叠',
 '呣',
 '呷',
 '咊',
 '唔',
 '囍',
 '圕',
 '婎',
 '媠',
 '宁',
 '寧',
 '府',
 '廿',
 '折',
 '松',
 '毋',
 '氵',
 '沖',
 '河',
 '流',
 '滑',
 '父',
 '牠',
 '瑚',
 '瓩',
 '祂',
 '祐',
 '神',
 '禅',
 '竜',
 '竹',
 '籲',
 '米',
 '粁',
 '糎',
 '紅',
 '綠',
 '緑',
 '红',
 '肉',
 '興',
 '藍',
 '藏',
 '蜀',
 '蝴',
 '西',
 '覆',
 '豔',
 '釁',
 '陽',
 '雨',
 '雲',
 '青',
 '韓',
 '食',
 '鬱',
 '魂',
 '魄',
 '魏',
 '鮮',
 '鱻',
 '齉',
 '龍',
 '龘',
 '龢',
 'ꀕ',
 '대',
 '물',
 '부',
 '소',
 '인',
 '큰',
 '하',
 'ﬂ',
 '︘',
 '～',
 '�',
 '𒂵',
 '𒄑',
 '𒆳',
 '𒈪',
 '𒊒',
 '𒊕',
 '𒌦',
 '𪜶'}

In [26]:
num_context = 0
num_question = 0
max_words_context = 0
max_words_question = 0
for title in data_dict['data']:
    for paragraph in title['paragraphs']:
        num_context += 1
        num_words_context = len([
            word for word in word_tokenize(paragraph['context'].lower())
            if not isSign(word)
        ])
        if num_words_context > max_words_context:
            max_words_context = num_words_context
        for qa in paragraph['qas']:
            num_question += 1
            num_words_question = len([
                word for word in word_tokenize(qa['question'].lower())
                if not isSign(word)
            ])
            if num_words_question > max_words_question:
                max_words_question = num_words_question

In [27]:
print(num_context, num_question, max_words_context, max_words_question)

18896 87599 649 39

In [6]:
import pandas as pd
tmp = pd.DataFrame({'1':[1,2,3], '2':[1,2,3]})

In [9]:
list(tmp['1'])

[1, 2, 3]

In [ ]:
import time
from multiprocessing import Pool

def process(seed):
    print('start:', seed)
    time.sleep(2)
    print('end:', seed)
    return seed**2

num_process = 4
p = Pool(num_process)
result = p.map(process, range(10))
print(result)

In [2]:
import pandas as pd
df = pd.DataFrame(columns=['udb_em', 'udb_f1'])
df

Empty DataFrame
Columns: [udb_em, udb_f1]
Index: []

In [3]:
df.loc['0'] = [1, 2]
df

  udb_em udb_f1
0      1      2

In [4]:
df.loc['1'] = [3, 4]
df

  udb_em udb_f1
0      1      2
1      3      4

In [7]:
import os
os.path.isfile('outputs/QA_results_undebiased.csv')

True

In [10]:
pd.DataFrame([1,2,3]).to_csv('tmp.csv', index=False)
df = pd.read_csv('tmp.csv')
df

   0
0  1
1  2
2  3

In [11]:
df = pd.DataFrame([4,5,6])
df

   0
0  4
1  5
2  6

In [12]:
df.to_csv('tmp.csv', index=False)
df = pd.read_csv('tmp.csv')
df

   0
0  4
1  5
2  6

In [1]:
import pandas as pd
tmp = pd.read_csv('outputs/QA_results_debiased.csv')

In [2]:
tmp

         acc   epoch
0   0.724486  1029.0
1   0.721975  1256.0
2   0.728425  1261.0
3   0.720605  1606.0
4   0.724144  1310.0
5   0.721918  1463.0
6   0.726370  1305.0
7   0.723973  1401.0
8   0.723858  1203.0
9   0.727226  1377.0
10  0.723173  1017.0
11  0.721290  1721.0
12  0.723288  1483.0
13  0.721518  1636.0
14  0.721804  1223.0
15  0.717979  1883.0
16  0.721290  1692.0
17  0.719749  1455.0
18  0.719007  1114.0
19  0.719235  1240.0
20  0.718664  1746.0
21  0.727911  1063.0
22  0.723687  1335.0
23  0.719749  1520.0
24  0.724600  1725.0

In [4]:
tmp.loc[str(3)] = [0, 0]
tmp

         acc   epoch
0   0.724486  1029.0
1   0.721975  1256.0
2   0.000000     0.0
3   0.720605  1606.0
4   0.724144  1310.0
5   0.721918  1463.0
6   0.726370  1305.0
7   0.723973  1401.0
8   0.723858  1203.0
9   0.727226  1377.0
10  0.723173  1017.0
11  0.721290  1721.0
12  0.723288  1483.0
13  0.721518  1636.0
14  0.721804  1223.0
15  0.717979  1883.0
16  0.721290  1692.0
17  0.719749  1455.0
18  0.719007  1114.0
19  0.719235  1240.0
20  0.718664  1746.0
21  0.727911  1063.0
22  0.723687  1335.0
23  0.719749  1520.0
24  0.724600  1725.0
3   0.000000     0.0

In [6]:
import json
from nltk.tokenize import word_tokenize

with open('../data/squad1.1/train-v1.1.json', encoding='utf-8') as f:
    data_dict = json.load(f)

num_context = 0
num_question = 0
max_word_context = 0
max_word_question = 0

for title in data_dict['data']:
    for paragraph in title['paragraphs']:
        num_context += 1
        num_word_context = len(word_tokenize(paragraph['context']))
        if num_word_context > max_word_context:
            max_word_context = num_word_context
        for qa in paragraph['qas']:
            num_question += 1
            num_word_question = len(word_tokenize(qa['question']))
            if num_word_question > max_word_question:
                max_word_question = num_word_question

In [7]:
num_context

18896

In [8]:
num_question

87599

In [9]:
max_word_context

766

In [10]:
max_word_question

60